<div class="container">
  <div class="jumbotron">
    <h1>SAILS-SEED</h1>

    <h2>seed for sailsjs application</h2>
    <a href="/user/signup" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>